<div class="container" *ngIf="submitted else codeForm">
  <div class="activate-message" *ngIf="isOkay else activationError">
    <h2>
      Attivazione completata con successo!
    </h2>
    <p>Il tuo account è stato attivato con successo.</p>
    <button class="btn btn-primary" (click)="redirectToLogin()">Login</button>
  </div>
  <ng-template #activationError>
    <div class="activate-error">
      <h2>
        Attivazione fallita
      </h2>
      <p>{{message}}</p>
      <button class="btn btn-primary" (click)="submitted=false">Prova di nuovo</button>
    </div>
  </ng-template>

</div>

<ng-template #codeForm>
  <div class="container">
    <div class = "text-center" style="width: 400px;">
      <h2>Inserisci il codice di attivazione</h2>
      <code-input [isCodeHidden]="false"
                  [codeLength]="6"
                  [code]="'number'"
                  (codeCompleted)="onCodeCompleted($event)"
      ></code-input>
    </div>
  </div>
</ng-template>

